In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib notebook

In [3]:

dateparse = lambda x: pd.datetime.strptime(x, '%d/%m/%Y')

import pandas as pd
data12 = pd.read_csv("cpcb_dly_aq_delhi-2012.csv", parse_dates=['Sampling Date'], date_parser=dateparse).drop("Location of Monitoring Station", axis=1).sort_values("Sampling Date")

In [3]:
data12["DateMonth"]=data12["Sampling Date"].dt.to_period("M")

In [5]:
data12 = data12.groupby("DateMonth").mean().drop("SPM", axis=1)

In [6]:
data12

             Stn Code        SO2         NO2   RSPM/PM10
DateMonth
2012-01    240.095238  15.095238  101.142857  281.619048
2012-02    197.217391  15.608696   92.608696  243.956522
2012-03    207.800000   9.285714   84.228571  271.771429
2012-04    189.555556   5.074074   78.814815  185.555556
2012-05    208.960000   3.960000   78.280000  292.720000
2012-06    176.894737   3.157895   63.631579  297.157895
2012-07    237.307692   5.769231   64.423077  174.576923
2012-08    226.681818   7.272727   64.590909  125.409091
2012-09    206.538462   4.423077   64.000000  145.384615
2012-10    211.666667   7.047619  107.809524  301.952381
2012-11    217.727273   7.954545  106.272727  284.727273
2012-12    221.142857   4.714286   79.380952  262.095238